@model List<Produkt> 
<h1>Din kundkorg</h1>

<!--EMMY-->

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Produkt</th>
                <th>Pris</th>
                <th>Beskrivning</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produkt in Model)
            {
                <tr>
                                  <td><a href="@Url.Action("VisaProdukt", "Product", new { id = produkt.Id })" onmouseover="hoverProduct(this)" onmouseout="unhoverProduct(this)">@produkt.Namn</a></td>
                    <td>@produkt.Pris</td>
                    <td>@produkt.Beskrivning</td>
                 
                                        <td>
                        <form asp-controller="Kundkorg" asp-action="TaBort" method="post">
                            <input type="hidden" name="produktId" value="@produkt.Id" />
                            <button type="submit">Ta bort vara</button>
                        </form>
                    </td
               
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Din kundkorg är tom.</p>
}
<form id="buyForm" action="@Url.Action("Index", "Betalning")" method="get">
    <button id="buyButton" type="submit">Köp varor</button>
</form>

<script>
        var buyButton = document.getElementById("buyButton");

    buyButton.addEventListener("mouseover", function() {
        buyButton.style.backgroundColor = "rgba(169, 185, 175, 0.4) "; // Ändra bakgrundsfärgen när musen hovrar över knappen
    });

    buyButton.addEventListener("mouseout", function() {
        buyButton.style.backgroundColor = ""; // Återställ till standardbakgrundsfärgen när musen lämnar knappen
    });

    function hoverProduct(element) {
        element.style.color = "rgba(169, 185, 175, 0.4) "; // Ändra textfärgen när musen hovrar över länken
    }

    function unhoverProduct(element) {
        element.style.color = ""; // Återställ till standardtextfärgen när musen lämnar länken
    }
</script>
