<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExamensarbeteNy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExamensarbeteNy.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="https://cdn.pixabay.com/photo/2013/07/13/10/21/apple-157031_1280.png" alt="Företagslogotyp" style="max-height: 30px; max-width: 150px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="nav">
                 
                        @foreach (var category in ViewBag.AllCategories)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark @(ViewContext.RouteData.Values["kategoriId"] != null && Convert.ToInt32(ViewContext.RouteData.Values["kategoriId"]) == category.Id ? "active" : "")" href="@Url.Action("VisaProdukter", "Home", new { kategoriId = category.Id })">@category.Namn</a>
                                <!-- Visa underkategorier för denna kategori om de finns -->
                                @if (category.ChildKategorier != null && category.ChildKategorier.Count > 0)
                                {
                                    <ul class="sub-categories">
                                        @foreach (var subcategory in category.ChildKategorier)
                                        {
                                            <li>
                                                <a href="@Url.Action("VisaProdukter", "Home", new { kategoriId = subcategory.Id })">@subcategory.Namn</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    </ul>



                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Bevakning" asp-action="Bevakningar">Bevakningar</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Kundkorg" asp-action="Index">Kundkorg</a>
                    </li>

                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
           <p>OM OSS</p>
           <p>VILLKOR</p>
        </div>
        <script>
        document.getElementById('sortDropdown').addEventListener('change', function () {
        var selectedValue = this.value;
        var ul = document.querySelector('.productscategory ul');
        var li = Array.from(ul.getElementsByTagName('li'));

        if (selectedValue === 'prisAsc') {
        li.sort(function (a, b) {
        var priceA = parseFloat(a.querySelector('.textbox p').innerText.split(' ')[1]);
        var priceB = parseFloat(b.querySelector('.textbox p').innerText.split(' ')[1]);
        return priceA - priceB;
        });
        } else if (selectedValue === 'prisDesc') {
        li.sort(function (a, b) {
        var priceA = parseFloat(a.querySelector('.textbox p').innerText.split(' ')[1]);
        var priceB = parseFloat(b.querySelector('.textbox p').innerText.split(' ')[1]);
        return priceB - priceA;
        });
        }

        li.forEach(function (elem) {
        ul.appendChild(elem);
        });
        });


            // Visa en bekräftelsemeddelande efter att användaren har bevaka en vara
            document.querySelector('form[action="BevakaProdukt"]').addEventListener('submit', function (event) {
                alert('Produkten har lagts till i dina bevakningar!');
            });

        </script>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
