@model Produkt
<section class="product">
<div class="productimage">

    <img src="@Model.BildUrl" alt="Produktbild">
	</div>
    <div class="productinformation">
	<h2>@Model.Namn</h2>
    <p>Pris: @Model.Pris</p>
		<p>Beskrivning: @Model.Beskrivning</p>
<button>LÄGG I VARUKORG</button>
</div>
<div class="userbox">
    <p>SÄLJES AV KOPPLA ANVÄNDARE</p>
</div>

<div class="information">
    <h2>Känn dig trygg när du handlar hos ....</h2>
    <div class="boxes">
    <div class="first">
        information
    </div>
    <div class="first">
        information
			</div>
		</div>
</div>

    <div class="similarproducts"
	<h2>Liknande varor</h2>

<div class="productsrow">

    <ul>
        @foreach (var product in ViewBag.SimilarProducts)
        {
            <li>
                <a href="@Url.Action("VisaProdukt", "Product", new { id = product.Id })">
                    <img src="@product.BildUrl" alt="Produktbild">
                    <p>@product.Namn</p>
                    <p>Pris: @product.Pris</p>
                </a>
            </li>
        }
    </ul>
	</div>
    </div>
</section>