@model Produkt
<!--EMMY HAR GJORT ALLT PÅ DENNA SIDA-->
<section class="product">
    <div class="productimage">
        <img src="@Model.BildUrl" alt="Produktbild">
    </div>
    <div class="productinformation">
        <div class="text">
            <h2>@Model.Namn</h2>
            <h3><strong>@Model.Pris kr</strong></h3>
            <h4>Beskrivning:</h4>
            <p>@Model.Beskrivning</p>
        </div>
    </div>
    <div class="buttonbox">
        <form asp-controller="Kundkorg" asp-action="LäggTill" method="post">
            <input type="hidden" name="produktId" value="@Model.Id" />
            <button type="submit">Lägg till i kundkorg</button>
        </form>
    </div>


    <div class="userbox">
        <h5>SÄLJES AV:</h5>
        <p>Verifierad säljare</p>
    </div>
    <div class="information">
        <h3>Känn dig trygg när du handlar hos oss </h3>
        <div class="boxes">
            <div class="first">
                <h2>Säker betalning</h2>
                <p>Vi använder säkra betalningsmetoder för att skydda dina transaktioner online. 
                    Med krypterad data och pålitliga betalningsgateways kan du känna dig trygg när du handlar hos oss.</p>
            </div>
            <div class="first">
                <h2>Personlig integritet</h2>
                <p>Din personliga integritet är viktig för oss. Vi respekterar din integritet och skyddar dina personuppgifter enligt gällande lagstiftning. Vi säljer aldrig dina uppgifter 
                    till tredje part och använder dem endast för att hantera din beställning och förbättra din köpupplevelse.</p>
            </div>
        </div>
    </div>
    <div class="similarproducts">
        <h4>Liknande varor</h4>
        <div class="productsrow">
            <ul>
                @foreach (var product in ViewBag.SimilarProducts)
                {
                    <li>
                        <a href="@Url.Action("VisaProdukt", "Product", new { id = product.Id })">
                            <img src="@product.BildUrl" alt="Produktbild">
                            <h3>@product.Namn</h3>
                            <p>@product.Pris kr</p>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>

